@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $light;
  color: $dark;
}

.container {
  margin: 60px auto 0 auto;
}

.btn-div {
  display: flex;
  gap: 50px;

  button {
    height: 65px;
    width: 140px;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.btn {
  padding: 10px 20px;
  background: $yellow;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    background: $blue;
  }
}

@import 'navbar';
@import 'modal';