@import 'config';

/* LAYOUT */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $light;
  min-height: 100vh;
}

header {
  width: 100vw;
  height: 65px;
}

.container, aside {
  min-height: calc(100vh - 65px);
}

.container {
  margin: 0 auto;
  padding: 20px min(60px, 5%);
}

.btn-div {
  display: flex;
  gap: 50px;

  button {
    width: 140px;
  }
}

/* TYPOGRAPHY */
body {
  font-family: 'Open Sans', sans-serif;
  color: $dark;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: clamp(0.9rem, 1vw, 1.2rem);
  font-weight: 100;
}

h2 {
  font-weight: 100;
}

h3 {
  color: $blue;
}

p {
  line-height: 1.5;
}

hr {
  border: 1px solid $dark;
}

/* COMPONENTS */
img {
  height: auto;
  max-width: 100%;
}

.btn {
  padding: 10px 20px;
  background: $yellow;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 15px;

  &:hover {
    cursor: pointer;
    background: $blue;
  }
}

input, textarea {
  padding: 10px;
  width: 100%;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
}

textarea {
  height: 14rem;
}

@import "modal";
@import "navbar";