@import 'config';

// Layout
.modal {
  background: gray;
  position: absolute;
  top: 60px;
  height: 175%;
}
.modal-content {
  margin: 2% 5%;
  padding: 3%;
  background: $light;
  border-radius: 25px;
}
.modal-contactInfo {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 2%;
}
.input > div {
  display: flex;
  flex-flow: column;
  gap: 4px;
}
.address {
  display: grid;
  grid-template-columns: 4fr 1fr 2fr;
  gap: 4px;
}

// Typography
.modal h4 {
  text-align: center;
  color: $blue;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.modal h5, .modal p {
  font-size: 1.1rem;
  margin: 5px;
}

// Components
 .submitRequest {
  margin-right: 2rem;
}
.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 750px) {
  .modal h4 {
    text-align: start;
  }
  .modal-contactInfo {
    display: flex;
    flex-flow: column;
    gap: 1rem
  }
  #modal-form {
    gap: 1rem;
  }
  .modal input {
    padding: 5px;
    font-size: 1rem;
  }
  .modal h5, .modal p {
    font-size: 1rem;
    margin: 5px;
  }
}