@import 'config';

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background: $blue;
  padding: 15px 40px;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: white;
      span {
        color: $yellow;
        font-size: small;
      }
      &:hover {
        cursor: pointer;
      }
    }
    ul {
      display: flex;
      list-style: none;
      color: white;
      font-weight: bolder;
      gap: 50px;
      li {
        &:hover {
          cursor: pointer;
          color: $yellow;
          @include easeOut;
        }
        &.active {
          color: $yellow;
        }
      }
    }
  }
}