@import 'config';

.btn-menu {
  display: block;
  z-index: 2;
  margin-top: 4px;
  cursor: pointer;
  @include easeOut;

  &.close {
    transform: rotate(180deg);
    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(3px, 13px);
        background: $yellow;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(-1px, -7px);
        background: $yellow;
      }
    }
  }
}

.btn-line {
  width: 30px;
  height: 3px;
  margin: 0 0 5px 0;
  background: white;
  @include easeOut;
}

.nav-menu {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  display: flex;
  flex-flow: column wrap;
  gap: 15vh;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background: darken($dark, 5);
  list-style-type: none;
  padding: 0 0 10% 0;
  transform: translate3d(0, 100%, 0);
  @include easeOut;

  &.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
}

.nav-link a {
  font-size: 2rem;
}