@import 'config';

#services-page {
  height: 93vh;
  max-width: 1000px;
  padding-top: 50px;
  display: grid;
  h2 {
    font-weight: 100;
    align-self: center;
  }
  h3 {
    color: $blue;
    font-size: 1.3rem;
    padding-bottom: 10px;
  }
  div.services-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    align-content: center;
    p {
      font-size: 1.1rem;
      line-height: 1.5;
    }
  }
  div.btn-div {
    margin-top: 20px;
    justify-content: center;
  }
  h4 {
    font-size: 1.2rem;
    text-align: center;
  }
}