@import 'config';
@import 'global';
/* TABLE OF CONTENTS
   - Global Styles
   - Page Layout
   - Typography Styles
   - Component Styles
   - Media Queries
   */

main {
  display: grid;
  grid-template-rows: 10% 90%;
}

.contact-title {
  margin-top: 50px;
  h2 {
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
  }
  hr {
    border: 1px solid $dark;
  }
}

.contact-area {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  p {
    padding: 50px 0 25px 0;
    font-size: 1.1rem;
  }
}

.contact-form {
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  input, textarea {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
    width: 100%;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
  }
  textarea {
    height: 250px;
  }
  #contact-btn {
    padding: 10px 20px;
    background: $yellow;
    font-size: 1.2rem;
    font-weight: 500;
    width: fit-content;
    color: white;
    border: none;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.contact-info {
  div.contact-details {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    div.contact-item {
      display: grid;
      grid-template-columns: 1fr 3fr;
      p {
        padding: 0;
        align-self: center;
      }
    }
  }
}

// Media Queries
@media screen and (min-width: 1250px) {
  main {
    max-width: 75%;
  }
}