@import 'config';

// General Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: $light;
  color: $dark;
}
main {
  max-width: 1250px;
  margin: auto;
}
img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

@import 'navbar';
@import 'home';
@import 'services';

// Button Styles
.btn-link {
  padding: 10px;
  background: $yellow;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  height: 65px;
  width: 140px;
  border: none;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
.btn-div {
  display: flex;
  gap: 50px;
}