@import 'config';
@import 'navbar';

// General Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: $dark;
}

// Text Styles
.text-blue { color: $blue }
.text-yellow { color: $yellow }
.text-light { color: $light }