@import 'config';

// General Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: $light;
  color: $dark;
  position: relative;
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: $blue;
  padding: 15px 60px 15px 40px;
  z-index: 1;
}
main {
  max-width: 1250px;
  position: relative;
  top: 60px;
  margin: 0 auto;
}
img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

@import 'navbar';
@import 'home';
@import 'services';
@import 'equipment';
@import 'contact';

// Button Styles
.btn-link {
  padding: 10px;
  background: $yellow;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  height: 65px;
  width: 140px;
  border: none;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
  }
}
.btn-div {
  display: flex;
  gap: 50px;
}