@import 'config';
/* TABLE OF CONTENTS
   - Global Styles
   - Page Layout
   - Typography Styles
   - Component Styles
   - Media Queries
   */

/* =================
   GLOBAL STYLES
   ================= */
@import 'global';

/* =================
   PAGE LAYOUT
   ================= */
.container {
  padding: 0 5%;
  display: grid;
  grid-template-rows: 2fr 4fr 1fr 1fr;
  //gap: clamp(5%, 2vh, 3rem);
  gap: 2vh;
  align-content: center;
  justify-content: center;
  max-width: 1200px;
}

.services-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3vh;
  align-content: center;
}

.btn-div {
  align-self: center;
  justify-content: center;
}

/* =================
   TYPOGRAPHY STYLES
   ================= */
h2 {
  align-self: center;
  margin-top: 7%;
  font-size: clamp(1.1rem, 4vw, 2rem);
  font-weight: 100;
}

h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: $blue;
  margin-bottom: 1vh;
}

h4 {
  align-self: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  text-align: center;
}

p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
  line-height: 1.5;
}

/* =================
   MEDIA QUERIES
   ================= */
@media screen and (max-width: 1000px) {
  nav ul {
    gap: 3em;
  }
}

@media screen and (max-width: 750px) {
  @import 'nav-mobile';
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 5%;
    display: flex;
    flex-flow: column wrap;
    gap: 4vh;
    align-content: center;
    justify-content: center;
  }

  .services-div {
    display: flex;
    flex-flow: column wrap;
    gap: 3vh;
    justify-content: center;
  }

  .btn-div {
    gap: 1.5rem;
  }
}