@import 'config';
/* TABLE OF CONTENTS
   - Global Styles
   - Page Layout
   - Typography Styles
   - Media Queries
   */

/* =================
   GLOBAL STYLES
   ================= */
@import 'global';

/* =================
   PAGE LAYOUT
   ================= */
#services-page {
  display: flex;
  flex-flow: column;
  gap: 5vh;
  justify-content: space-evenly;
  max-width: 1200px;
}

.services-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5vh;
}

.service-item {
  padding: 10px;
}

/* =================
   TYPOGRAPHY STYLES
   ================= */
h2 {
  padding: 10px;
  font-size: clamp(1.1rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-bottom: 1vh;
}

h4 {
  align-self: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  text-align: center;
}

p {
  font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}

/* =================
   MEDIA QUERIES
   ================= */
@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 600px) {
  .services-section {
    display: flex;
    flex-flow: column;
  }
}