@import 'config';

/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $light;
}

section {
  padding: 2em;
}

.container {
  margin: 60px auto 0 auto;
  width: min(1600px, 95%);
  height: 100%;
}

/* HOME PAGE */
#HomePage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
}



.left-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* ABOUT PAGE */


/* SERVICES PAGE */


/* EQUIPMENT PAGE */


/* CONTACT PAGE */