@import 'config';

/* GLOBAL */


/* HOME PAGE */
@media screen and (max-width: 1000px) {
  nav ul {
    gap: 3em;
  }

  .container {
    max-width: 80%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
  }

  h2, h3, p {
    align-self: center;
    text-align: center;
  }

  p {
    padding: 0 5em;
  }

  .btn-div {
    justify-content: center;
  }

  .logo-div {
    display: none;
  }

  .right-column {
    align-self: center;
    width: min(500px, 85%);
  }
}

@media screen and (max-width: 750px) {
  section {
    padding: 2em 0;
  }
  .left-column {
    padding-top: 0;
    height: 95vh;
  }

  .right-column {
    display: none;
  }

  p {
    padding: 0 1em;
  }

  .btn-div {
    gap: 25px;
  }

  .logo-div {
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2% 5%;

    p {
      text-align: start;
    }
  }
}