@import 'config';

/* GLOBAL */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: $dark;
}

/* HOME PAGE */
h2 {
  margin-top: 40px;
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 100;
}

h3 {
  margin-top: 10px;
  font-size: clamp(3rem, 4.5vw, 4rem);
  font-weight: 700;
  color: $blue;
}

p {
  margin: 50px 0;
  padding-right: 10%;
  font-size: clamp(1rem, 1vw, 1.2rem);
  line-height: 1.5;
}

.logo-div p {
  font-size: 0.8em;
  font-weight: 100;
  font-style: italic;
  color: gray;
  margin-bottom: 10px;
}