<!-- Service Modal -->
<div class="modal" id="service-modal" style="display:none;">
    <div class="modal-content">
        <h4>Service Request</h4>
        <form class="modal-form">
            <div class="modal-contactInfo">
                <div>
                    <div>
                        <h5>Business Name</h5>
                        <input name="businessName" />
                    </div>

                    <div>
                        <h5>Address</h5>
                        <input name="street1" placeholder="Street address" />
                        <input name="street2" placeholder="Building or unit #" />
                        <div class="address-3-col">
                            <input name="city" placeholder="City" />
                            <input name="state" placeholder="State" value="CA" style="text-align:center;" />
                            <input name="zipcode" placeholder="Zip code" />
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <h5>Contact Name</h5>
                        <input name="contactName" />
                    </div>

                    <div>
                        <h5>Phone #</h5>
                        <input name="phone" />
                    </div>
                </div>
            </div>

            <div>
                <p><strong>Tell us what you need.</strong> Please include how many machines you need
                serviced, their model #s, and a detailed description of the problem you are having.</p>
                <textarea name="problemNotes"></textarea>
            </div>

            <div>
                <button class="btn-submitService" type="submit">Send</button>
                <button class="btn-toggleServiceForm">Cancel</button>
            </div>
        </form>
    </div>
</div>