<header>
    <nav>
        <div>
            <h1>METRONICS<span>inc</span></h1>
            <ul>
                <li class="nav-link active">About</li>
                <li class="nav-link">Services</li>
                <li class="nav-link">Equipment</li>
                <li class="nav-link">Contact</li>
            </ul>
        </div>
    </nav>
</header>
<main class="container-fluid" id="about-page">
    <h4>About Page</h4>
</main>