<header>
    <nav>
        <div>
            <h1 id="brand">METRONICS<span>inc</span></h1>
            <ul>
                <li class="nav-link">About</li>
                <li class="nav-link">Services</li>
                <li class="nav-link">Equipment</li>
                <li class="nav-link active">Contact</li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <div id="contact-page">
        <div class="contact-title">
            <h2>CONTACT</h2>
            <hr />
        </div>

        <div class="contact-area">
            <div class="contact-form">
                <p>For general inquiries, please fill out the contact form below.</p>
                <form id="contact-form">
                    <input type="text" name="name" placeholder="Your name" />
                    <input type="text" name="email" placeholder="Email or phone #" />
                    <textarea name="message" placeholder="Message"></textarea>
                    <button id="contact-btn" type="submit">Send</button>
                </form>
            </div>

            <div class="contact-info">
                <p>Need to request service for your machines or order equipment?
                    Please use the links below.</p>

                <div class="btn-div">
                    <button class="btn-link btn-toggleServiceForm">Request Service</button>
                    <button class="btn-link btn-equipment">Purchase Equipment</button>
                </div>

                <div class="contact-details">
                    <div class="contact-item">
                        <i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>
                            <strong>Metronics, Inc.</strong><br/>
                            Benicia, CA
                        </p>
                    </div>

                    <div class="contact-item">
                        <i class="fas fa-phone-alt fa-2x"></i>
                        <p>
                            <strong>(415) 309-8160</strong>
                        </p>
                    </div>

                    <div class="contact-item">
                        <i class="fas fa-envelope fa-2x"></i>
                        <p>
                            <strong>metronics01@yahoo.com</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        {{> modal-block}}
    </div>
</main>