<header>
    <nav>
        <div>
            <h1 id="brand">METRONICS<span>inc</span></h1>
            <ul>
                <li class="nav-link">About</li>
                <li class="nav-link">Services</li>
                <li class="nav-link active">Equipment</li>
                <li class="nav-link">Contact</li>
            </ul>
        </div>
    </nav>
</header>

<div id="equipment-page">
    <aside id="sidebar">
        <div id="callout">
            <p>Give us a call to inquire about pricing, financing options,
                and to place an order.</p>
            <h4>(415) 309-8160</h4>
        </div>
        <div id="side-nav">
            <ul>
                <li><a class="page-anchor active" href="#machines">A/C Machines</a></li>
                <li><a class="page-anchor" href="#accessories">Accessories</a></li>
                <li><a class="page-anchor" href="#tools">Tools</a></li>
                <li><a class="page-anchor" href="#consumables">Consumables</a></li>
            </ul>
        </div>
    </aside>

    <main id="equipment-page-main">
        <div class="product-section" id="machines">
            <h2>A/C Machines</h2>
            <hr />
            <div class="product-grid">
                {{#each machines}}
                    {{> product-block}}
                {{/each}}
            </div>
        </div>
        <div class="product-section" id="accessories">
            <h2>Accessories</h2>
            <hr />
            <div class="product-grid">
                {{#each machines}}
                    {{> product-block}}
                {{/each}}
            </div>
        </div>
        <div class="product-section" id="tools">
            <h2>Tools</h2>
            <hr />
            <div class="product-grid" >
                {{#each machines}}
                    {{> product-block}}
                {{/each}}
            </div>
        </div>
        <div class="product-section" id="consumables">
            <h2>Consumables</h2>
            <hr />
            <div class="product-grid">
                {{#each machines}}
                    {{> product-block}}
                {{/each}}
            </div>
        </div>
    </main>
</div>



