<header>
    <nav>
        <h1 class="brand">METRONICS<span>inc</span></h1>

        <button class="modalToggle btn-text">Request Service</button>
        <button class="modalToggle btn-icon"><i class="fas fa-tools"></i></button>

        <ul class="nav-menu">
            <li class="nav-link"><a>Home</a></li>
            <li class="nav-link"><a>Services</a></li>
            <li class="nav-link active"><a>Equipment</a></li>
            <li class="nav-link"><a>Contact</a></li>
        </ul>

        <div class="btn-menu">
            <div class="btn-line"></div>
            <div class="btn-line"></div>
            <div class="btn-line"></div>
        </div>
    </nav>
</header>


<aside>
    <div class="callout">
        <p>
            Give us a call to inquire about pricing, financing options,
            and to place an order.
        </p>
        <h4>(415)<br/> 309-8160</h4>
    </div>
    <div class="side-navbar">
        <ul>
            <li>
                <a class="page-anchor active" href="#machines">A/C Machines</a>
            </li>
            <li>
                <a class="page-anchor" href="#tools">Tools</a>
            </li>
            <li>
                <a class="page-anchor" href="#accessories">Accessories</a>
            </li>
            <li>
                <a class="page-anchor" href="#consumables">Consumables</a>
            </li>
        </ul>
    </div>
</aside>

<main class="container" id="equipment-page">
    <div class="product-section" id="machines">
        <h3>A/C Machines</h3>
        <hr/>

        <div class="product-grid">
            {{#each machines}}
                {{> product-block}}
            {{/each}}
        </div>
    </div>

    <div class="product-section" id="tools">
        <h3>Tools</h3>
        <hr/>

        <div class="product-grid">
            {{#each machines}}
                {{> product-block}}
            {{/each}}
        </div>
    </div>

    <div class="product-section" id="accessories">
        <h3>Accessories</h3>
        <hr/>

        <div class="product-grid">
            {{#each machines}}
                {{> product-block}}
            {{/each}}
        </div>
    </div>

    <div class="product-section" id="consumables">
        <h3>Consumables</h3>
        <hr/>

        <div class="product-grid">
            {{#each machines}}
                {{> product-block}}
            {{/each}}
        </div>
    </div>
</main>

{{> modal-block}}

<!-- TODO: Make phone number prompt action on mobile device -->