<header>
    <nav>
        <div>
            <h1 id="brand">METRONICS<span>inc</span></h1>
            <ul>
                <li class="nav-link">About</li>
                <li class="nav-link">Services</li>
                <li class="nav-link">Equipment</li>
                <li class="nav-link">Contact</li>
            </ul>
        </div>
    </nav>
</header>

<main id="home-page">
    <!-- Welcome Text Div -->
    <div class="left">
        <div class="text-div">
            <h2>A/C RECOVERY & RECYCLING</h2>
            <h3>REPAIR SERVICES</h3>
            <p>Servicing automotive repair facilities in the San Francisco Bay
                and surrounding areas since 1980.</p>
        </div>
        <div class="btn-div">
            <button class="btn-link btn-toggleServiceForm">Request Service</button>
            <button class="btn-link btn-equipment">Purchase Equipment</button>
        </div>
        <div class="logo-div">
            <p>Brands we serve:</p>
            <div class="logos">
                <img src="img/logos/robinair-logo.png" alt="Robinair Logo"/>
                <img src="img/logos/snapon-logo-bw.png" alt="Snapon Logo"/>
                <img src="img/logos/mastercool-logo.png" alt="Mastercool Logo"/>
            </div>
        </div>

    </div>

    <!-- Hero Image Div -->
    <div class="right">
        <img src="img/robinair_17800C.png" alt="Robinair 17800C Machine"/>
    </div>
</main>

{{> modal-block}}