<header>
    <nav>
        <div>
            <h1 id="brand">METRONICS<span>inc</span></h1>
            <ul>
                <li class="nav-link">About</li>
                <li class="nav-link">Services</li>
                <li class="nav-link">Equipment</li>
                <li class="nav-link">Contact</li>
            </ul>
        </div>
    </nav>
</header>
<main id="home-page">
    <div>
        <div>
            <h2>A/C RECOVERY & RECYCLING</h2>
            <h3>REPAIR SERVICES</h3>
            <p>Servicing automotive repair facilities in the San Francisco Bay
                and surrounding areas since 1980.</p>
            <div class="btn-div">
                <button class="btn-link btn-service">Request Service</button>
                <button class="btn-link btn-equipment">Purchase Equipment</button>
            </div>
        </div>
        <div>

        </div>
    </div>
    <div>
        <img src="img/robinair_17800C.png" alt="Robinair 17800C Machine" id="hero"/>
    </div>
</main>