<header>
    <nav>
        <div>
            <h1 id="brand">METRONICS<span>inc</span></h1>
            <ul>
                <li class="nav-link">About</li>
                <li class="nav-link active">Services</li>
                <li class="nav-link">Equipment</li>
                <li class="nav-link">Contact</li>
            </ul>
        </div>
    </nav>
</header>
<main id="services-page">
    <h2>Whatever you need, we got you covered...</h2>

    <div class="services-div">
        <div class="service-item">
            <h3>MAINTENANCE</h3>
            <p>Regular maintenance is essential to prevent your equipment
                from breaking down and creating costly service disruptions
                for your business and customers.</p>
        </div>

        <div class="service-item">
            <h3>REPAIR</h3>
            <p>Our field technicians are some of the best trained and most
                seasoned professionals in the industry. If your equipment
                breaks down, we can fix it.</p>
        </div>

        <div class="service-item">
            <h3>TRAINING</h3>
            <p>Make sure your team knows how to safely and efficiently
                use your equipment by scheduling a training session with
                one of our experienced field technicians.</p>
        </div>

        <div class="service-item">
            <h3>EQUIPMENT</h3>
            <p>If you need to purchase new or additional equipment for
                your shop then let us help you match your needs with the
                right tools.</p>
        </div>
    </div>

    <div class="btn-div">
        <button class="btn-link btn-toggleServiceForm">Request Service</button>
        <button class="btn-link btn-equipment">Purchase Equipment</button>
    </div>

    <h4>Questions? Call us at: (415) 309-8160</h4>

    {{> modal-block}}
</main>