* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #efefef;
  color: #0a1931; }

main {
  max-width: 1250px;
  margin: 60px auto 0 auto; }

img {
  height: auto;
  width: 100%;
  object-fit: contain; }

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background: #185adb;
  padding: 15px 40px; }
  nav div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav div h1 {
      color: white; }
      nav div h1 span {
        color: #ffc947;
        font-size: small; }
      nav div h1:hover {
        cursor: pointer; }
    nav div ul {
      display: flex;
      list-style: none;
      color: white;
      font-weight: bolder;
      gap: 50px; }
      nav div ul li:hover {
        cursor: pointer;
        color: #ffc947;
        transition: all .5s ease-out; }
      nav div ul li.active {
        color: #ffc947; }

#home-page {
  height: 93vh;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 40% 45vw;
  justify-content: center; }
  #home-page div.left {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    #home-page div.left h2 {
      font-weight: 100;
      font-size: 2em; }
    #home-page div.left h3 {
      color: #185adb;
      font-size: 3.2em;
      margin: 15px 0; }
    #home-page div.left p {
      margin-top: 25px;
      margin-bottom: 40px;
      max-width: 450px; }
    #home-page div.left div.logo-div {
      width: 45%;
      position: absolute;
      bottom: 10px; }
      #home-page div.left div.logo-div p {
        margin-bottom: 10px;
        font-size: .8rem;
        font-weight: 100;
        color: gray;
        font-style: italic; }
      #home-page div.left div.logo-div div.logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        max-width: 60%; }
        #home-page div.left div.logo-div div.logos img {
          max-width: 150px; }
  #home-page div.right {
    position: relative;
    display: flex; }
    #home-page div.right img {
      margin-bottom: 10px;
      max-height: 80vh;
      align-self: flex-end; }

#services-page {
  height: 93vh;
  max-width: 1000px;
  padding-top: 50px;
  display: grid; }
  #services-page h2 {
    font-weight: 100;
    align-self: center; }
  #services-page h3 {
    color: #185adb;
    font-size: 1.3rem;
    padding-bottom: 10px; }
  #services-page div.services-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    align-content: center; }
    #services-page div.services-div p {
      font-size: 1.1rem;
      line-height: 1.5; }
  #services-page div.btn-div {
    margin-top: 20px;
    justify-content: center; }
  #services-page h4 {
    font-size: 1.2rem;
    text-align: center; }

#sidebar {
  padding: 50px 25px 0 25px;
  position: fixed;
  left: 0;
  width: 250px; }
  #sidebar #callout {
    padding: 25px;
    background: #185adb;
    border-radius: 15px; }
    #sidebar #callout p, #sidebar #callout h4 {
      color: #ffc947;
      text-align: center;
      font-size: 1.1rem; }
    #sidebar #callout h4 {
      margin-top: 25px; }
  #sidebar #side-nav {
    padding: 25px; }
    #sidebar #side-nav ul {
      list-style: none;
      padding: 10px; }
      #sidebar #side-nav ul li a {
        margin-bottom: 35px; }
        #sidebar #side-nav ul li a:hover {
          cursor: pointer; }

#equipment-page {
  margin-left: 300px;
  padding: 50px 25px 0 25px; }
  #equipment-page h2 {
    color: #185adb;
    margin-bottom: 5px; }
  #equipment-page hr {
    border: 1px solid gray;
    margin-bottom: 30px; }
  #equipment-page div.product-section {
    margin-bottom: 60px; }
    #equipment-page div.product-section div.product-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 30px; }
      #equipment-page div.product-section div.product-grid div.product-item {
        display: grid;
        grid-template-columns: 35% 65%;
        padding-right: 20px;
        gap: 15px;
        z-index: -1; }
        #equipment-page div.product-section div.product-grid div.product-item div {
          position: relative; }
          #equipment-page div.product-section div.product-grid div.product-item div h3 {
            margin-bottom: 20px; }
          #equipment-page div.product-section div.product-grid div.product-item div a {
            position: absolute;
            bottom: 0;
            color: #185adb;
            font-size: 0.9rem;
            font-weight: 600;
            text-decoration: none; }

#contact-page {
  height: 93vh;
  max-width: 1000px;
  padding-top: 50px;
  display: grid;
  grid-template-rows: 10% 90%; }
  #contact-page div.contact-title h2 {
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: 100;
    text-align: center; }
  #contact-page div.contact-title hr {
    border: 1px solid #0a1931; }
  #contact-page div.contact-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; }
    #contact-page div.contact-area p {
      padding: 50px 0 25px 0;
      font-size: 1.1rem; }
    #contact-page div.contact-area div.contact-form form {
      display: flex;
      flex-direction: column;
      gap: 10px; }
    #contact-page div.contact-area div.contact-form input, #contact-page div.contact-area div.contact-form textarea {
      padding: 10px;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.1rem;
      font-weight: 100;
      width: 100%;
      border: 0.5px solid lightgrey;
      border-radius: 5px; }
    #contact-page div.contact-area div.contact-form textarea {
      height: 250px; }
    #contact-page div.contact-area div.contact-form #contact-btn {
      padding: 10px 20px;
      background: #ffc947;
      font-size: 1.2rem;
      font-weight: 500;
      width: fit-content;
      color: white;
      border: none;
      border-radius: 10px; }
      #contact-page div.contact-area div.contact-form #contact-btn:hover {
        cursor: pointer; }
    #contact-page div.contact-area div.contact-info div.contact-details {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%; }
      #contact-page div.contact-area div.contact-info div.contact-details div.contact-item {
        display: grid;
        grid-template-columns: 1fr 3fr; }
        #contact-page div.contact-area div.contact-info div.contact-details div.contact-item p {
          padding: 0;
          align-self: center; }

.btn-link {
  padding: 10px;
  background: #ffc947;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  height: 65px;
  width: 140px;
  border: none;
  border-radius: 10px; }
  .btn-link:hover {
    cursor: pointer; }

.btn-div {
  display: flex;
  gap: 50px; }
