nav {
  background: #185adb;
  padding: 10px 40px; }
  nav div {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav div h1 {
      color: white; }
      nav div h1 span {
        color: #ffc947;
        font-size: small; }
      nav div h1:hover {
        cursor: pointer; }
    nav div ul {
      display: flex;
      list-style: none;
      color: white;
      font-weight: bolder;
      gap: 50px; }
      nav div ul li:hover {
        cursor: pointer;
        color: #ffc947;
        transition: all .5s ease-out; }
      nav div ul li.active {
        color: #ffc947; }

#home-page {
  height: 90vh;
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 50%); }
  #home-page div.left {
    padding: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    #home-page div.left h2 {
      font-weight: 100;
      font-size: 2em; }
    #home-page div.left h3 {
      color: #185adb;
      font-size: 3.5em;
      margin: 15px 0; }
    #home-page div.left p {
      margin-top: 25px;
      margin-bottom: 40px;
      max-width: 450px; }
    #home-page div.left div.logo-div {
      width: 45%;
      position: absolute;
      bottom: 10px; }
      #home-page div.left div.logo-div p {
        margin-bottom: 10px;
        font-size: .8rem;
        font-weight: 100;
        color: gray;
        font-style: italic; }
      #home-page div.left div.logo-div div.logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px; }
  #home-page div.right {
    position: relative;
    display: flex;
    align-content: end;
    bottom: 0; }
    #home-page div.right #hero {
      max-height: 80%;
      align-self: flex-end; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #efefef;
  color: #0a1931; }

img {
  height: auto;
  width: 100%;
  object-fit: contain; }

.text-blue {
  color: #185adb; }

.text-yellow {
  color: #ffc947; }

.text-light {
  color: #efefef; }

.btn-link {
  padding: 10px;
  background: #ffc947;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  width: 140px;
  border: none;
  border-radius: 10px; }
  .btn-link:hover {
    cursor: pointer; }

.btn-div {
  display: flex;
  gap: 20px; }
